* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1440px;
}
body {
  background-color: #ffffff;
  font-family: Roboto;
  font-size: 20px;
  /* padding: 50px; */
}

.pink {
  background: #f8f1eb;
  border-radius: 0px;
}
.left-side h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #dc624e;
}

.frame117 {
  background: #ffffff;
  background: #ffffff;
  border: 1px solid #e9d6c5;
  box-sizing: border-box;
  border-radius: 6px;
}

#lygiavimas {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}

#lygiavimas li {
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

#lygiavimas li b {
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

#lygiavimas li i {
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

.frame117 #oneMore {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 24px;
  color: #dc624e;
}

.left-line {
  width: 591px;
  height: 1px;
  /* background: #f2f2f2; */
  background: black;
}

.group1790 {
  background: #ffffff;
}
