* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1440px;
}
body {
  background-color: #ffffff;
  font-family: Roboto;
  font-size: 12px;
  /* padding: 50px; */
}

/*left side background*/
.pink {
  background: #f8f1eb;
  border-radius: 0px;
  padding: 0;
  margin: 0;
}

.left-side {
  padding: 67px 94px 0 118px;
}

.left-side h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #dc624e;
  margin-bottom: 0;
}

.frame117 {
  background: #ffffff;
  background: #ffffff;
  border: 1px solid #e9d6c5;
  box-sizing: border-box;
  border-radius: 6px;
}

#productCh {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  padding: 0;
  margin: 23px auto 16px;
}

#product1 {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  padding: 0;
  margin: 23px auto 0;
}

#product2 {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  padding: 0;
  margin: 22px auto 0;
}

#product3 {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  padding: 0;
  margin: 22px auto 23px;
}

#productCh img,
#product1 img,
#product2 img,
#product3 img {
  width: 35.14px;
  height: 35.24px;
  background: url(.png), url(.png), url(.png);
  filter: drop-shadow(0px 0px 17px rgba(255, 255, 255, 0.1));
}

#productCh li,
#product1 li,
#product2 li,
#product3 li {
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

#productCh li b,
#product1 li b,
#product2 li b,
#product3 li b {
  /* display: flex; */
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

#productCh li i,
#product1 li i,
#product2 li i,
#product3 li i {
  /* display: flex; */
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

.frame117 #oneMore a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 24px;
  color: #dc624e;
  text-decoration: none;
}

.left-line {
  height: 1px;
  background: #f2f2f2;
  /* background: black; */
}

.button {
  margin-bottom: 24px;
}

.button button {
  background: #dc624e;
  box-shadow: 0px 4px 10px rgba(67, 40, 16, 0.24);
  border-radius: 3px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 12px 44px 12px 45px;
}
.left-side .section1790 {
  margin-bottom: 129px;
}

.section1790 .group1790 {
  background: #ffffff;
  border: 1px solid #e9d6c5;
  box-sizing: border-box;
  border-radius: 6px;
}

.section1790 h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #dc624e;
  margin: 28.46px auto 7.66px auto;
}

.group1790 h3 {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #333333;
  margin: 16px auto 0;
}

.group1790 p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #bdbdbd;
  margin: 4px auto 0;
}

.section1790 .names-row {
  margin: 16px 0;
}

/* All forms text fonts*/
.section1790 .form-control {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #bdbdbd;
  border: 1px solid #e0e0e0;

  padding: 12px;
}

/*first name form*/
.section1790 .name-form1 {
  width: 288px;
  height: 48px;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 0;
  margin-right: 8px;
}

/*last name form*/
.section1790 .name-form2 {
  width: 288px;
  height: 48px;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 0;
  margin-left: 8px;
}

/*Email form*/
.group1790 .email-form {
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 3px;
  margin-bottom: 18px;
}

/*Address form*/
.group1790 .address-form {
  box-sizing: border-box;
  border-radius: 3px;
  margin: 16px 0;
}

/*City form*/
.group1790 .city-form {
  box-sizing: border-box;
  border-radius: 3px;
  margin-bottom: 16px;
}

/*Country, Region & Postal-code forms*/
.group1790 .form-select {
  height: 48px;
  width: 202px;
  color: #bdbdbd;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 0px;
  padding: 20px 40px 4px 12px;
}

.group1790 .form-floating label {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #828282;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}

.group1790 .postal-code .form-control {
  width: 156px;
  height: 48px;
}

.group1790 .payment-frame117 {
  background: #ffffff;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 6px;
  margin: 15px auto 29px;
}

.group1790 .form-check {
  margin: 18px auto 16px;
}

/* .group1790 .form-check input {
  color: red;
} */

.group1790 .form-check label {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  display: flex;
  align-items: center;
  color: #333333;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 8px;
}

.group1790 .payment-line {
  height: 1px;
  background: #e0e0e0;
}

.group1790 .frame1738 {
  background: #fafafa;
  padding: 17px 15px 16px;
}
.group1790 .card-form input {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #bdbdbd;
}

.group1790 .order-button button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #ffffff;
  flex: none;
  order: 1;
  flex-grow: 0;
  background: #dc624e;
  box-shadow: 0px 4px 10px rgba(67, 40, 16, 0.24);
  border-radius: 3px;
  padding: 16px 0;
}

.group1790 .security-logo {
  display: flex;
  justify-content: center;
  margin: 24px 0 21px;
}

.group1790 .security-logo #norton img,
.group1790 .security-logo #comodo img {
  width: 87.5px;
  height: 49px;
  object-fit: cover;
  margin: 0 2px;
}

.group1790 .security-logo #verisign img,
.group1790 .security-logo #mcafee img {
  width: 91px;
  height: 49px;
  object-fit: scale-down;
  margin: 0 2px;
}

.white-area {
  padding: 88px 120px 0 94px;
}

.right-side {
  padding: 0%;
}

.right-side .right-line {
  /* width: 374px; */
  height: 1px;
  background: #e0e0e0;
  border-radius: 0px;
  margin-bottom: 24px;
}

.right-side .order-summary {
  height: 72px;
  display: flex;
  margin-bottom: 27px;
}

.right-side .img-cell {
  width: 100px;
}

.right-side .img-cell img {
  width: 72px;
  height: 72px;
}

.right-side .product-cell {
  padding: 25px 2px;
}

.right-side .product-cell p {
  font-family: Roboto;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #333333;
}

.right-side .total-price {
  height: 28px;
}

.right-side .product-price-cell {
  padding-top: 25px;
}

.right-side .product-price-cell b {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: right;
  color: #000000;
}

.right-side .price-cell {
  height: 24px;
  padding-top: 5px;
}

.right-side .price-cell p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #828282;
}

.right-side .usd-price i {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
}

.right-side .usd-price b {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: #333333;
}
/* Iki cia gerai */

.white-area .guarantee-area {
  padding: 0 12px;
}

.white-area .guarantee-row {
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 3px;
  margin-top: 26px;
}

.white-area .guarantee-logo img {
  width: 48px;
  height: 48px;
  object-fit: contain;
}

.white-area .guarantee-text h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #333333;
}

.white-area .guarantee-row p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #828282;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 16px 0px;
}
